.article__img{
    max-width: 100%;
}

.article__image{
    max-width: 90%;
    border-radius: 5px;
    margin: 5vw;
}

.article__image__glossaire{
    max-width: 60%;
    border-radius: 5px;
    margin: 5vw;
    align-items: center;
    justify-content: center;
}

.article__image__glossaire{
    display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.article__image__livre{
    max-width: 40%;
    border-radius: 5px;
    margin-top: 20px;
}

.article__image--livre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__ap{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image__ap--img{
    max-width: 60%;
    border-radius: 5px;
    margin-top: 20px;
}






.Bouton__decouvrir{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}



.gallery__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  .gallery__img img{
    width: 100%;
   margin: 1%;
   padding: 10px;
    border-radius: 5px;
   margin-top: 20px;
  }
  
  .article__image__description {
    text-align: center; /* Centrer le texte de la description */
  }

.gallery__image__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 1%;
}

.img__404{
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
}