:root{
--background-color: #070707;
--rouge: #FF0000;
--gris-clair: #EAEAEA;
--gris-fonce: #D9D3D3;
--blanc-texte: #EEE3E3;
--noir-texte: #010101;
--jaune: #F5E23A;
--bleu: #034662;
--header-color: linear-gradient(to top,  rgba(0,0,0,0) 0%, rgba(3,70,98,1) 100%);


--space0x: 5px;
--space1x: 10px;
--space2x: 20px;
--space3x: 30px;
--space4x: 40px;
--space5x: 50px;

--title-xxl: 2.25rem; /* Logo + titre page*/
--title-xl: 1.125rem; /* Sous titre des articles*/
--titre-s: 0.875rem; /* corps */
--text-xs: 0.688rem; /* texte footer + description images */


--font-family: 'Mulish', sans-serif;
--font-family: 'Rambla', sans-serif;
--font-family: 'Bebas Neue', sans-serif;
}