.header{
    background: var(--header-color);
    box-sizing: border-box;
    max-width: 100%;
    transition: height 0.5s ease;
    display: flex;
    flex-direction: column;
    
}

.header__elt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space3x) var(--space2x);
    
}

.header__titre{
    font-family: Bebas Neue;
    font-size: var(--title-xxl);
    color: var(--rouge);
    text-align: center;
    margin-left: var(--space5x);
}

.header__logo{
    margin-left: 60px;
    right: var(--space4px);
    
    
}

.header__accueil{
    width: var(--space4x); 
    height: var(--space4x); 
}


.header_menuBtn{
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
}

.header.open{
    height: 200px;
}

.text_menu a {
    text-decoration: none; /* Ajouté */
    color: inherit; /* Ajouté */
    
  }




.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--noir-texte);
    color: rgb(255, 255, 255);
    display: grid;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    z-index: 8;
    
    }
  .header_menuBtn {
    position: relative;
    z-index: 10;
  }
  .noscroll,
  .noscroll body {
    overflow: hidden;
  }
  .media--fullwidth {
    width: 100%;
    height: auto;
  }

.categorie{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-top:70px;
}
.text_menu{
    font-family: Mulish;
    font-style: semi-bold;
    margin: 20px 20px 20px ;
    text-align: center;
    color: var(--blanc-texte);
    font-family: Mulish;
    font-style: semi-bold;
    font-size: var(--title-xl);
    list-style-type: none;
    line-height: 50px;
    border-bottom: 1px solid white; /* Remplacez #000 avec la couleur de votre choix */
  padding-bottom: 10px; /* Ajoutez un peu d'espace entre le texte et la ligne */
  margin-bottom: 10px; /* Ajoutez un peu d'espace après la ligne */
}

.language-switcher{
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    height: 4%;
    margin-top: 50px;
    padding: 10px;
    border-radius: 8px;
    list-style-type: none;
}

.language-switcher__link__fr{
    color: var(--blanc-texte);
    font-weight: bolder;
    padding: 10px;
}

.language-switcher__link__en{
    color: var(--blanc-texte);
    margin-left: 40px;
    padding: 10px;
}

.language-switcher__link{
    color: var(--blanc-texte);
}

.language-switcher__link__en--en{
    color: var(--blanc-texte);
    font-weight: bold;
    margin-left: 40px;
}