.header{
    background: var(--header-color);
    box-sizing: border-box;
    max-width: 100%;
    transition: height 0.5s ease;
    display: flex;
    flex-direction: column;
}

.header__elt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space3x) var(--space2x);
    
}

.header__titre{
    font-family: Bebas Neue;
    font-size: var(--title-xxl);
    color: var(--rouge);
    text-align: center;
    margin-left: var(--space5x);
}

.header__logo{
    margin-left: 60px;
    right: var(--space4px);
    
    
}

.header__accueil{
    width: var(--space4x); 
    height: var(--space4x); 
}


.header_menuBtn{
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
}

.header.open{
    height: 200px;
}

.text_menu a {
    text-decoration: none; /* Ajouté */
    color: inherit; /* Ajouté */
    
  }


.text_menu{
    color: var(--blanc-texte);
    font-family: Mulish;
    font-style: semi-bold;
    font-size: var(--text-xs);
    list-style-type: none;
    line-height: 50px;
}

