.texte__404{
    font-family: Mulish;
    font-size: var(--title-l);
    color: var(--blanc-texte);
    margin-top: 20vw;
    text-align: center;
    justify-content: center;
}

.home{
    display: flex;
    margin-left: 45vw;
    margin-top: 45vw;
    margin-bottom: 50vw;
    align-items: center;
}

/* css pour la page index a la racine des dossiers */

.titre__404{
    font-family: Mulish;
    font-size: 35px;
    text-align: center;
    position: absolute;
    color: var(--noir-texte);
    top: 20%; /* Ajustez ces valeurs pour positionner le titre */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le titre sur l'image */
}

.home__404__btn{
    position: absolute;
    top: 30%;
    left: 35%;
}

