.auteur{
    font-family: Mulish;
    font-style: italic;
    font-weight: lighter;
    font-size: var(--texte-xs);
    color: var(--blanc-texte);
    width: 42vw;
    height: 20vw;
    text-align: center;
    margin-left: 10vw;
}

.titre{
    font-family: Rambla;
    font-style: bold;
    font-size: var(--title-xxl);
    color: var(--blanc-texte);
    text-align: center;
}

.texte__article{
    font-family: Mulish;
    font-size: var(--titre-s);
    color: var(--blanc-texte);
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    
}




.article__image__description{
    font-family: Mulish;
    font-size: var(--text-xs);
    font-style: italic;
    color: var(--blanc-texte);
    font-weight: lighter;
    margin-left: 5vw;
}

.sous__titre{
    font-family: Mulish;
    font-size: var(--title-s);
    color: var(--blanc-texte);
    margin-top: 10vw;
    margin-left: 5vw;
    
}

.ligne{
    height: 120%;
    margin-top: var(--space3x);
   
}

.titre__ligne{
    display: flex;
    align-items: center;
    margin-right: var(--space1x);
    gap: var(--space2x);
    margin-left: var(--space1x);
}

.article__suivant{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 10vw;
    margin-left: 60vw;
}



.bouton__article{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space1x);
}

.sous__titre--gallerie{
    font-family: Mulish;
    font-size: var(--title-l);
    color: var(--blanc-texte);
    margin-top: 10vw;
    margin-left: 5vw;
    text-align: center;
    justify-content: center;
}

.texte__article--modif{
    font-family: Mulish;
    font-size: var(--titre-s);
    color: var(--blanc-texte);
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: var(--space5x);
}


.losange__g{
    width: 30px;
    margin-top: 20px;
}

.losange__d{
    width: 30px;
    
    right: 0;
    float: right;
    margin-left: 10px;
}