body{
    background-color: var(--background-color);
    position: absolute;
}

.citation__titre{
    font-family: Rambla;
    font-size: 30px;
    color: var(--blanc-texte);
    text-align: center;
    width: 400px;
    height: 200px;
    position: absolute;
    padding-left: var(--space5x);
    top: 23%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.citation__img{
    position: relative;
}

.citation{
    background: var(--citation-color);
}

.citation__sous--titre{
    font-family: Mulish;
    font-style: light;
    color: var(--blanc-texte);
    font-style: italic;
    font-size: var(--texte-s);
    padding-top: 10px;
    
    position: absolute;
    padding-left: var(--space5x);
    top: 24%;
    left: 77%;
    transform: translate(-50%, -50%);
}

.intro__texte{
    color: var(--blanc-texte);
    font-family: Mulish;
    font-size: 20px;
    text-align: center;
    height: 80px;
    width: 400px;
    margin-left: 75px;
    margin-top: 35px;
}

.losange{
    margin-left: 350px;
}

.losange2{
    padding-left: var(--space3x);
    margin-top: var(--space2x);
}

.losange3{
    padding-left: 400px;
    
}




.article__texte{
    color: var(--noir-texte);
    font-family: Mulish;
    font-style: light;
    font-size: var(--texte-s);
    background-color: var(--gris-clair);
    border-radius: 16px;
    padding: var(--space2x);
    margin-top: 180px;
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    z-index: 1;
}
.article__texte--dif{
    color: var(--noir-texte);
    font-family: Mulish;
    font-style: light;
    font-size: var(--texte-s);
    background-color: var(--gris-clair);
    border-radius: 16px;
    padding: var(--space2x);
    margin-top: 180px;
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    z-index: 1;
}


/*class pour mes cards d'accueil*/

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card{
    width: 350px;
    width: 80%;
    background-color: var(--gris-clair);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 30px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-family: Mulish;
    font-size: var(--title-xl);
    color: var(--noir-texte);
    margin-bottom: 8px;
}

.card-content p{
    font-family: Mulish;
    font-size: var(--texte-s);
    color: var(--noir-texte);
    margin-bottom: 8px;
    line-height: 1.3;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--bleu);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: var(--blanc-texte);
}

.top__acueil{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: column;
   
}
